.player {
    width: 300px;
    display: flex;
    align-items: center; 
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    transition: all 0.3s ease; 
    span {
        font-size: 32px;
        margin-left: 16px;
    }
    background-color: rgb(166, 210, 166);
    img {
        width: 70px;
        height: 70px;
        object-fit: cover;
        border-radius: 100%;
    }
}

.player-active {
    background-color: red !important;    
    transform: scale(1.1);   
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);   
    transition: all 0.3s ease;   
}

.player-active img {
    border: 3px solid white;   
}