<h2 mat-dialog-title class="dialog-title">Edit Player</h2>

<div class="dialog-content">
  <!-- Profilbilder zur Auswahl -->
  <div *ngFor="let picture of allProfilePictures">
    <img 
      class="profile-picture" 
      src="./assets/img/profile/{{ picture }}" 
      alt="Profile picture"
      (click)="closeDialog(picture)"  
    >
  </div>
</div>

<!-- Buttons zur Bearbeitung des Dialogs -->
<div mat-dialog-actions class="dialog-actions">
  <button mat-button (click)="deletePlayer()">Delete Player</button>
  <button mat-button (click)="closeDialog()">Close</button>
</div>
